:root {
  --primary: #8fdc83;
}

textarea {
  border: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

button {
  outline: none;
  box-shadow: none !important;
}

.snip-header {
  background-color: transparent !important;
}

.shadow {
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
}
