textarea {
  border: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

html {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html body {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #fad961 0%, #f77422 100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.page {
  height: 100vh;
  overflow-y: auto;
}

button {
  outline: none;
  box-shadow: none !important;
}

.tool-button {
  background: transparent !important;
  border: none !important;
  color: #2a363b !important;
}

.no-border {
  border: none !important;
}

.title-input {
  border: none !important;
  background: transparent !important;
}

.dropdown-menu {
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.4);
}

.inset-shadow {
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3) !important;
}

.inset-shadow:hover {
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3) !important;
}

.input-shadow:focus {
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.4) !important;
}

.inset-shadow:disabled {
  box-shadow: none !important;
}

.inset-shadow:active {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3) !important;
}

.snip-header {
  background-color: transparent !important;
}

.shadow {
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.4);
}

.line-bottom {
  border: none !important;
  border-bottom: 1px solid !important;
  border-radius: 0px !important;
}

button {
  height: 27px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.preclass span {
  font-weight: normal !important;
}

.code-block {
  white-space: break-spaces !important;
}

.token {
  background: none !important;
}

.github-logo {
  height: 22px;
  width: 22px;
  margin-left: 5px;
}

.round {
  border-radius: 20px !important;
}

.round-left {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.round-right {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.for-border {
  border: none !important;
}

.justify-content-sb {
  display: flex;
  justify-content: space-between;
}

.color-link {
  color: #4b0082 !important;
}
