textarea {
  border: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  background: linear-gradient(135deg, #fad961 0%, #f77422 100%);
}

button {
  outline: none;
  box-shadow: none !important;
}

.tool-button {
  background: transparent !important;
  border: none !important;
  color: #2a363b !important;
}

.no-border {
  border: none !important;
}

.title-input {
  border: none !important;
  background: transparent !important;
}

.dropdown-menu {
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.4);
}

.inset-shadow {
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3) !important;
}

.inset-shadow:hover {
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3) !important;
}

.input-shadow:focus {
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.4) !important;
}

.inset-shadow:disabled {
  box-shadow: none !important;
}

.inset-shadow:active {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3) !important;
}

.snip-header {
  background-color: transparent !important;
}

.shadow {
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.4);
}

.line-bottom {
  border: none !important;
  border-bottom: 1px solid !important;
  border-radius: 0px !important;
}

button {
  height: 27px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.preclass span {
  font-weight: normal !important;
}

.code-block {
  white-space: break-spaces !important;
}

.token {
  background: none !important;
}

.github-logo {
  height: 22px;
  width: 22px;
  margin-left: 5px;
}

.round {
  border-radius: 20px !important;
}

.round-left {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.round-right {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.for-border {
  border: none !important;
}

.justify-content-sb {
  display: flex;
  justify-content: space-between;
}

.color-link {
  color: #4b0082 !important;
}

.crack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100px;
  overflow: hidden;
}

.crack-outside {
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
  user-select: none;
  white-space: nowrap;
}

.crack-outside .crack-inside {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
  clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.crack-outside::before,
.crack-outside::after {
  content: attr(datatext);
  position: absolute;
}

.crack-outside::before {
  animation: crack1 2s linear forwards;
  -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.crack-outside::after {
  animation: crack2 3s linear forwards;
  -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
  clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes crack1 {
  0%,
  98% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-51%, -46%);
  }
}

@keyframes crack2 {
  0%,
  98% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-48.5%, -53%);
  }
}
